# Movie Review Sentiment Analysis

In [2]:
import pandas as pd

# Pre-processing

In [3]:
imdb_data = pd.read_csv("./data/imdb_dataset.csv")
imdb_data.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [ ]:
imdb_data.isnull().sum()

review       0
sentiment    0
dtype: int64

The dataset does not have any null values

In [5]:
imdb_data["sentiment"].value_counts()

sentiment
positive    25000
negative    25000
Name: count, dtype: int64

The dataset is very balanced with 25000 data points each for positive and negative sentiments